<?php
/**
 * PartyApi
 * PHP version 5
 *
 * @category Class
 * @package  BumbalClient
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Bumbal Client Api
 *
 * Bumbal API documentation
 *
 * OpenAPI spec version: 2.0
 * Contact: gerb@bumbal.eu
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace BumbalClient\BumbalClient\API;

use \BumbalClient\ApiClient;
use \BumbalClient\ApiException;
use \BumbalClient\Configuration;
use \BumbalClient\ObjectSerializer;

/**
 * PartyApi Class Doc Comment
 *
 * @category Class
 * @package  BumbalClient
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class PartyApi
{
    /**
     * API Client
     *
     * @var \BumbalClient\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \BumbalClient\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\BumbalClient\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \BumbalClient\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \BumbalClient\ApiClient $apiClient set the API client
     *
     * @return PartyApi
     */
    public function setApiClient(\BumbalClient\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation createParty
     *
     * Create or update an Party
     *
     * @param \BumbalClient\BumbalClient\Model\PartyModel $body Party object (optional)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return \BumbalClient\BumbalClient\Model\ApiResponse
     */
    public function createParty($body = null)
    {
        list($response) = $this->createPartyWithHttpInfo($body);
        return $response;
    }

    /**
     * Operation createPartyWithHttpInfo
     *
     * Create or update an Party
     *
     * @param \BumbalClient\BumbalClient\Model\PartyModel $body Party object (optional)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return array of \BumbalClient\BumbalClient\Model\ApiResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function createPartyWithHttpInfo($body = null)
    {
        // parse inputs
        $resourcePath = "/party";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('ApiKey');
        if (strlen($apiKey) !== 0) {
            $headerParams['ApiKey'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\BumbalClient\BumbalClient\Model\ApiResponse',
                '/party'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\BumbalClient\BumbalClient\Model\ApiResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\BumbalClient\BumbalClient\Model\ApiResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation deleteParty
     *
     * Delete an party
     *
     * @param int $party_id ID of the party to delete (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return \BumbalClient\BumbalClient\Model\ApiResponse
     */
    public function deleteParty($party_id)
    {
        list($response) = $this->deletePartyWithHttpInfo($party_id);
        return $response;
    }

    /**
     * Operation deletePartyWithHttpInfo
     *
     * Delete an party
     *
     * @param int $party_id ID of the party to delete (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return array of \BumbalClient\BumbalClient\Model\ApiResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function deletePartyWithHttpInfo($party_id)
    {
        // verify the required parameter 'party_id' is set
        if ($party_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $party_id when calling deleteParty');
        }
        // parse inputs
        $resourcePath = "/party/{partyId}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // path params
        if ($party_id !== null) {
            $resourcePath = str_replace(
                "{" . "partyId" . "}",
                $this->apiClient->getSerializer()->toPathValue($party_id),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('ApiKey');
        if (strlen($apiKey) !== 0) {
            $headerParams['ApiKey'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                '\BumbalClient\BumbalClient\Model\ApiResponse',
                '/party/{partyId}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\BumbalClient\BumbalClient\Model\ApiResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\BumbalClient\BumbalClient\Model\ApiResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation retrieveListParty
     *
     * Retrieve List of Partys
     *
     * @param \BumbalClient\BumbalClient\Model\PartyRetrieveListArguments $arguments Party RetrieveList Arguments (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return \BumbalClient\BumbalClient\Model\PartyModel[]
     */
    public function retrieveListParty($arguments)
    {
        list($response) = $this->retrieveListPartyWithHttpInfo($arguments);
        return $response;
    }

    /**
     * Operation retrieveListPartyWithHttpInfo
     *
     * Retrieve List of Partys
     *
     * @param \BumbalClient\BumbalClient\Model\PartyRetrieveListArguments $arguments Party RetrieveList Arguments (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return array of \BumbalClient\BumbalClient\Model\PartyModel[], HTTP status code, HTTP response headers (array of strings)
     */
    public function retrieveListPartyWithHttpInfo($arguments)
    {
        // verify the required parameter 'arguments' is set
        if ($arguments === null) {
            throw new \InvalidArgumentException('Missing the required parameter $arguments when calling retrieveListParty');
        }
        // parse inputs
        $resourcePath = "/party";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // body params
        $_tempBody = null;
        if (isset($arguments)) {
            $_tempBody = $arguments;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('ApiKey');
        if (strlen($apiKey) !== 0) {
            $headerParams['ApiKey'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                '\BumbalClient\BumbalClient\Model\PartyModel[]',
                '/party'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\BumbalClient\BumbalClient\Model\PartyModel[]', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\BumbalClient\BumbalClient\Model\PartyModel[]', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation retrieveParty
     *
     * Find party by ID
     *
     * @param int $party_id ID of party to return (required)
     * @param bool $include_party_links Include Link Data (required)
     * @param bool $include_party_files Include files (required)
     * @param bool $include_party_files_meta_data Include files meta data (required)
     * @param bool $include_party_files_meta_data_objects Include files meta data objects (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return \BumbalClient\BumbalClient\Model\PartyModel
     */
    public function retrieveParty($party_id, $include_party_links, $include_party_files, $include_party_files_meta_data, $include_party_files_meta_data_objects)
    {
        list($response) = $this->retrievePartyWithHttpInfo($party_id, $include_party_links, $include_party_files, $include_party_files_meta_data, $include_party_files_meta_data_objects);
        return $response;
    }

    /**
     * Operation retrievePartyWithHttpInfo
     *
     * Find party by ID
     *
     * @param int $party_id ID of party to return (required)
     * @param bool $include_party_links Include Link Data (required)
     * @param bool $include_party_files Include files (required)
     * @param bool $include_party_files_meta_data Include files meta data (required)
     * @param bool $include_party_files_meta_data_objects Include files meta data objects (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return array of \BumbalClient\BumbalClient\Model\PartyModel, HTTP status code, HTTP response headers (array of strings)
     */
    public function retrievePartyWithHttpInfo($party_id, $include_party_links, $include_party_files, $include_party_files_meta_data, $include_party_files_meta_data_objects)
    {
        // verify the required parameter 'party_id' is set
        if ($party_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $party_id when calling retrieveParty');
        }
        // verify the required parameter 'include_party_links' is set
        if ($include_party_links === null) {
            throw new \InvalidArgumentException('Missing the required parameter $include_party_links when calling retrieveParty');
        }
        // verify the required parameter 'include_party_files' is set
        if ($include_party_files === null) {
            throw new \InvalidArgumentException('Missing the required parameter $include_party_files when calling retrieveParty');
        }
        // verify the required parameter 'include_party_files_meta_data' is set
        if ($include_party_files_meta_data === null) {
            throw new \InvalidArgumentException('Missing the required parameter $include_party_files_meta_data when calling retrieveParty');
        }
        // verify the required parameter 'include_party_files_meta_data_objects' is set
        if ($include_party_files_meta_data_objects === null) {
            throw new \InvalidArgumentException('Missing the required parameter $include_party_files_meta_data_objects when calling retrieveParty');
        }
        // parse inputs
        $resourcePath = "/party/{partyId}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // query params
        if ($include_party_links !== null) {
            $queryParams['include_party_links'] = $this->apiClient->getSerializer()->toQueryValue($include_party_links);
        }
        // query params
        if ($include_party_files !== null) {
            $queryParams['include_party_files'] = $this->apiClient->getSerializer()->toQueryValue($include_party_files);
        }
        // query params
        if ($include_party_files_meta_data !== null) {
            $queryParams['include_party_files_meta_data'] = $this->apiClient->getSerializer()->toQueryValue($include_party_files_meta_data);
        }
        // query params
        if ($include_party_files_meta_data_objects !== null) {
            $queryParams['include_party_files_meta_data_objects'] = $this->apiClient->getSerializer()->toQueryValue($include_party_files_meta_data_objects);
        }
        // path params
        if ($party_id !== null) {
            $resourcePath = str_replace(
                "{" . "partyId" . "}",
                $this->apiClient->getSerializer()->toPathValue($party_id),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('ApiKey');
        if (strlen($apiKey) !== 0) {
            $headerParams['ApiKey'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\BumbalClient\BumbalClient\Model\PartyModel',
                '/party/{partyId}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\BumbalClient\BumbalClient\Model\PartyModel', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\BumbalClient\BumbalClient\Model\PartyModel', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation setParty
     *
     * Set (create or update) an Party
     *
     * @param \BumbalClient\BumbalClient\Model\PartyModel $body Party object (optional)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return \BumbalClient\BumbalClient\Model\ApiResponse
     */
    public function setParty($body = null)
    {
        list($response) = $this->setPartyWithHttpInfo($body);
        return $response;
    }

    /**
     * Operation setPartyWithHttpInfo
     *
     * Set (create or update) an Party
     *
     * @param \BumbalClient\BumbalClient\Model\PartyModel $body Party object (optional)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return array of \BumbalClient\BumbalClient\Model\ApiResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function setPartyWithHttpInfo($body = null)
    {
        // parse inputs
        $resourcePath = "/party/set";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('ApiKey');
        if (strlen($apiKey) !== 0) {
            $headerParams['ApiKey'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\BumbalClient\BumbalClient\Model\ApiResponse',
                '/party/set'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\BumbalClient\BumbalClient\Model\ApiResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\BumbalClient\BumbalClient\Model\ApiResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation updateParty
     *
     * Update a party
     *
     * @param int $party_id ID of party to update (required)
     * @param \BumbalClient\BumbalClient\Model\PartyModel $body Party object that needs to be updated (optional)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return \BumbalClient\BumbalClient\Model\ApiResponse
     */
    public function updateParty($party_id, $body = null)
    {
        list($response) = $this->updatePartyWithHttpInfo($party_id, $body);
        return $response;
    }

    /**
     * Operation updatePartyWithHttpInfo
     *
     * Update a party
     *
     * @param int $party_id ID of party to update (required)
     * @param \BumbalClient\BumbalClient\Model\PartyModel $body Party object that needs to be updated (optional)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return array of \BumbalClient\BumbalClient\Model\ApiResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function updatePartyWithHttpInfo($party_id, $body = null)
    {
        // verify the required parameter 'party_id' is set
        if ($party_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $party_id when calling updateParty');
        }
        // parse inputs
        $resourcePath = "/party/{partyId}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // path params
        if ($party_id !== null) {
            $resourcePath = str_replace(
                "{" . "partyId" . "}",
                $this->apiClient->getSerializer()->toPathValue($party_id),
                $resourcePath
            );
        }
        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('ApiKey');
        if (strlen($apiKey) !== 0) {
            $headerParams['ApiKey'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                '\BumbalClient\BumbalClient\Model\ApiResponse',
                '/party/{partyId}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\BumbalClient\BumbalClient\Model\ApiResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\BumbalClient\BumbalClient\Model\ApiResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
